body, html {     
    margin: 0;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

.landing_page {
    background-image: url(img/homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    float: right;
}

.main  {
    /* background-color: blue; */
    width: 1000px;
    height: 300px; 
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -500px;
    margin-top: -150px; 
    text-align: center;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
}

h3 {
    color: rgb(201, 201, 201);
}

h4 {
    font-size: 20px;

} 

a:link, a:visited  {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(201, 201, 201);
    padding-bottom: 4px;
    border-bottom: 1px solid rgb(201, 201, 201);   

}

.header {
    background-color: rgb(120, 174, 33);
    padding-top: 5px;
    width: 100%;
    height: 90px;
}


.intro {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}

.name {
   color: rgb(201, 201, 201);
    font-size: 18px;
    position: relative;
    width: 465px;
    height: 90px;
    top: -70px;
    left: 25%;
    
}

.navigation {
    text-transform: uppercase;
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 16px;
    word-spacing: 30px;;
}

.slogan {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 25px;
    color: rgb(201, 201, 201);
    margin-top: -30px;
    text-shadow: 4px 4px 4px rgb(142, 142, 142);
    
}

.first {
    width: 65%;
    float: left;
    padding-left: 10px;
    line-height: 130%;


}

.aside{
    background-color: rgb(166, 215, 61);
    padding-left: 10px;;
    padding-right: 10px;
    width: 30%;
    float: right;
    font-size: 16px;
}

.page2 {
    /* background-color: aqua; */
    width: 100%;
    height: 66%;
    float: right;
}

.footer {
    background-color: rgb(120, 174, 33);
    bottom:0;
    height:200px;
    width:100%;
    position:absolute;

    text-align:center;

}


/* Post Page */

.post_section {
    background-image: url(img/first_post.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    float: right;
}

.text {
    background-color: blueviolet;
    width: 800px;
    padding-top: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    float: right;



    


    line-height: 130%;
}